---
layout: default
---

<div class="home">

  <h1 class="page-heading mint">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      {% unless post.category contains 'project' %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
  
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          <p> {{post.description}}</p>
        </li>
      {% endunless %}
    {% endfor %}
  </ul>
  
  <h1 class="page-heading skyblue">Projects</h1>

  <ul class="project-list post-list">
    {% for post in site.posts %}
      {% if post.category contains 'project' %}
        <li>
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          <p> {{post.description}}</p>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
