/* custom styles for my blog, across all themes */

/* why do I even have to specify this? */
body{
  margin-top: -25px !important;
}

/* HEADER NAV */
.the-header .nav-global ul li a{
  border: solid 1px #777;
  padding: 3px;
  display: inline-block;
  margin-bottom: 10px;
}


img.project-image, img.port-thumb, img.blog-post{
	width: 100%;
}

img.port-thumb{
  width:100%;
  opacity: 0.8;
  border: 3px #0a0a0a solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

}


img.port-thumb:hover{
  opacity: 1;
  border: 3px #AA5566 solid;
}


img.home_icon{
	display: inline;
	height: 50px;
	width: 50px;
	margin-bottom: 0px;
}

/* ABOUT PAGE */

#about-section{

  padding: 35px 0 100px 0;

}

div#about-section div.soc-med{
  color: #aa5566;
  background-color: #ffeebb;
  padding: 10px;
  border: 1px solid #665555;
  font-weight: bold;
  display: inline-block;
  margin: 5px;
  min-width: 50px;
  font-size: 1.3em;
  text-align: center;
  cursor: pointer;

}

div#about-section div.soc-med:hover{
  color: #ffeebb;
  background-color: #aa5566;
}

div#about-section a{
  border-bottom: 0px;
}


/* POSTS */
div.figure{
	margin: 20px 0 20px 0;
	width: 100%;
}

div.figcaption{
	text-align: center;
	background-color: #eee;
	padding: 2px;

}

a[rel="license"] img{
	margin-bottom: 3px;
}

blockquote ul{
	margin-left: 25px;
}

/*fix spacing on category and tag metadata*/
.unit-article .list-linear .list-head {
  margin-right: 15px;
}
